DB_URL=jdbc:mysql://localhost:3306/ability_re?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
DB_USERNAME=ability_re
DB_PASSWORD=CHANGE_ME
SERVER_PORT=18080
CORS_ALLOWED_ORIGINS=http://localhost:5173
